<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <body>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <div class="wrap">
        <div class="login">
            <h2>회원가입</h2>
            <form id="signupForm" style="margin-top: 20px; width: 90%;" method="post">
                <div class="signup_login_id">
                    <h4>이메일</h4>
                    <input type="email" name="email" id="email" th:value="${email}" placeholder="이메일">
                </div>
                <div class="signup_login_id">
                    <h4>이름</h4>
                    <input type="text" name="nickname" id="nickname" th:value="${nickname}" placeholder="이름">
                </div>
                <div class="signup_login_pw">
                    <h4>비밀번호</h4>
                    <input type="password" name="password" id="password" placeholder="비밀번호">
                </div>
                <div class="signup_login_pw">
                    <h4>비밀번호 확인</h4>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="비밀번호 확인">
                </div>
                <div class="signup_submit">
                    <button id="signup_button" type="button">회원가입</button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/js/usersignup.js}"></script>
    </body>
</html>