.table-responsive {
    width: 50%;
    margin: 0 auto; /* 중앙 정렬 */
}
.store-id, .store-name {
    width: 50%; /* 각 컬럼의 너비를 테이블 너비의 절반으로 설정 */
}

.table {
    width: 100%;
}

.col-num {
    width: 30%; /* 2의 비율 */
}

.col-name {
    width: 50%; /* 6의 비율 */
}

.col-action {
    width: 20%; /* 2의 비율 */
}
.store-container {
    max-width: 50%; /* 최대 너비 제한 없음 */
    min-height: 80vh; /* 전체 뷰포트 높이의 80% */
    align-content: center;
}
.store-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.store-item {
    flex-basis: calc(33.333% - 20px);
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 8px;
}
.store-info {
    display: flex;
    margin: 10px;
    flex-direction: column; /* 아이템들을 세로 방향으로 정렬 */
    align-items: flex-start; /* 세로 방향의 시작점에 정렬 */
}
/* 검색 창 */
.header-store-container {
    display: flex;
    justify-content: end; /* 양쪽 끝에 요소 정렬 *!*/
    align-items: center;
}

.store-search {
    position: relative;
    width: 300px;
}

.store-search-img {
    position : absolute;
    width: 17px;
    top: 12px;
    right: 12px;
    margin: 0;
}


input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
.btn {
    width: 80%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 5px;
    justify-content: center;
    background: linear-gradient(to left, rgb(21, 131, 255), rgb(0, 100, 255));
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.btn_div {
    margin-top: 30px;
    margin-bottom: 24px;
}
