<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">no</th>
    <th scope="col">이름</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="data : ${datas}" >
    <td scope="row" th:text="${data.store_id}"></td>
    <td th:text="${data.store_name}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>